.table-icon {
  background-image: url("https://png.icons8.com/ios/50/000000/restaurant-table.png");
  width: 50px;
  height: 50px;
  border-radius: 4px;
}

@keyframes call {
  from {background-color: white;}
  to {background-color: green;}
}

.service-called {
  background-color: lightcoral;
  animation-name: call;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.table-icon:hover{
  background-color: red;
  cursor:pointer;
}
